*, *:before, *:after{
  box-sizing: border-box;
}
 body {
   background-color: #2B94D6;
   color: #F9F9F9;
   width: 375px;
  font-family: 'Roboto', sans-serif;

 }

.container {
   border-top: 28px solid #000000;
}

nav {
  margin-top: 1%;
  padding-left: 1%;
    }

p {
  font-size: 14px;
  float: left;
  padding-left: 1%;
}

.arrow {
  font-size: 12px;
  padding-left: 1%;
  padding-bottom: 10px;

}

.content {
position: absolute;
float: left;
    }

.important {
  float: left;
}

.battery li  {
  float: right;
  padding-right: 1%;
  font-size: 16px;
  display: inline-block;
  }

.first li {
  display: inline-block;
  float: left;
  padding-right: 1%;
  padding-left: 1%;
}

.second li {
  display: inline-block;
  float: left;
  padding-right: 1%;
  padding-left: 1%;
}
