*, *:before, *:after{
  box-sizing: border-box;
}
 body {
   background-color: #F9F9F9;
   color: #F9F9F9;
   width: 375px;
  font-family: 'Roboto', sans-serif;
  margin: auto;

 }

.container {
   border-top: 28px solid #000000;
}

nav {
  padding-left: 1%;
  position: fixed;
  height: 40px;
  width: 375px;
  background-color: #F9F9F9;
    }

p {
  font-size: 14px;
  float: left;
  padding-left: 1%;
}

.arrow {
  font-size: 12px;
  padding-left: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  width: 30%;
  float: left;
  color: red;

}


.statusbar { position: fixed;
  width: 375px;
  height: 40px;
  background-color: black;
  padding-top: 1%;
}

.buses{
  float: left;
  width: 50%;
  padding-top: 12px;
  font-size: 18px;
  color: black;
}

.content {
position: absolute;
float: left;
    }

.important {
  float: left;
}

h1 {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 18px;
  }

.north {
  display: block;
  width: 100%

}
.battery li  {
  float: right;
  padding-right: 1%;
  font-size: 16px;
  display: inline-block;
  }

.first {
  background-color: #2B94D6;
}

  .waypoint {
    padding-top: 2%;
    padding-left: 1%;
    padding-bottom: 2%;
    border-bottom: 1px;
    border-style: solid;
  }

  .waypoint  li {
    display: inline-block;
    flex: 1 1 20px;
    margin: 1px;
    box-sizing: border-box;
  }

.line  {
width: 8%;
}

.direction {
  width: 43%;
}

.time{
  width: 26%;
}

.reroute {
  background-color: #ADADAD;
}

.out-of-service {
  background-color:#F9F9F9;
  color: #959595;
}
